<section
  class="grid grid-cols-4 justify-between gap-4 px-8 py-24 max-xl:grid-cols-2 max-xl:gap-8 max-xl:overflow-hidden max-xl:px-6 max-xs:grid-cols-1"
>
  <div class="rounded-xl bg-yellow-100 p-8 shadow-xl">
    <h2 class="text-4xl font-bold">450+</h2>
    <p class="text-xl font-bold">Learned things</p>
  </div>
  <div class="rounded-xl bg-blue-100 p-8 shadow-xl">
    <h2 class="text-4xl font-bold">450+</h2>
    <p class="text-xl font-bold">Learned things</p>
  </div>
  <div class="rounded-xl bg-pink-100 p-8 shadow-xl">
    <h2 class="text-4xl font-bold">450+</h2>
    <p class="text-xl font-bold">Learned things</p>
  </div>
  <div class="rounded-xl bg-green-100 p-8 shadow-xl">
    <h2 class="text-4xl font-bold">450+</h2>
    <p class="text-xl font-bold">Learned things</p>
  </div>
</section>
