<section class="til-markdown prose max-w-3xl px-4 py-20">
  <h1>Privacy policy</h1>

  <h2>Overview</h2>
  <p>
    Welcome to the Today I Learned (TIL) app! Our service is free and designed
    for a seamless experience. This document outlines how we handle your
    personal info when you're with us.
  </p>

  <h2>Your Agreement</h2>
  <p>
    By using TIL, you're okay with us collecting and using your info as
    described here. We promise to use your data to make TIL better and not for
    anything weird.
  </p>

  <h2>What We Collect</h2>
  <p>
    To make TIL work great for you, we might ask for some personal details (like
    your email and username). Rest assured, it's stored safely on Vercel which
    is GDPR complian.
  </p>

  <h2>Third-Party Helpers</h2>
  <p>
    We work with tools like Google Analytics to understand app usage and squash
    bugs. They might gather some of your info, but only the necessary bits.
  </p>

  <h2>Your Data's Safehouse</h2>
  <p>
    Your data is tucked away on secure servers, handled only by our team. We
    keep it safe and sound as long as you're using our app. You can request a
    copy of your data anytime by emailing us at contact&#64;learnedtoday.app.
  </p>

  <h2>Goodbye, Data!</h2>
  <p>
    Change your mind? You can delete your insights anytime in-app or email us at
    contact&#64;learnedtoday.app to wipe your slate clean. We'll do it within 30
    days.
  </p>

  <h2>When Things Go Wrong</h2>
  <p>
    If the app hiccups, we might gather some technical data from your device
    (like your IP address) to fix the issue. It's all about making TIL better.
  </p>

  <h2>Cookie Talk</h2>
  <p>
    Cookies are small data files; we don't use them directly expect for
    authentication. Some of our third-party tools might. You can choose to
    accept or refuse them, but refusing might limit some TIL features.
  </p>

  <h2>Third-Party Partners</h2>
  <p>
    We team up with other companies for things like service maintenance and
    analytics. They might access your personal info, but only for TIL-related
    tasks, and they won't share it.
  </p>

  <h2>Your Trust, Our Security</h2>
  <p>
    We're committed to protecting your info, but remember, no system is
    invincible. We do our best, though!
  </p>

  <h2>External Links</h2>
  <p>
    TIL might have links to other sites. If you visit them, their privacy rules
    apply, not ours.
  </p>

  <h2>Kids' Privacy</h2>
  <p>
    TIL isn't for kids under 13. If we find out a child under 13 has given us
    their info, we'll delete it pronto. Parents, let us know if you need our
    help here.
  </p>

  <h2>Policy Updates</h2>
  <p>
    We might change this policy, so check this page now and then. We'll also
    post updates here, effective immediately.
  </p>
</section>
