<section
  class="til-hero-section flex min-h-[351px] items-center gap-8 bg-neutral px-8 pt-4 max-xl:flex-col max-xl:justify-center max-xl:pb-8 max-md:px-4"
>
  <div class="h-full min-w-96 items-center justify-center max-xl:min-w-max">
    <img
      src="/assets/learn_hero.svg"
      alt="Vittusaatana"
      class="w-full object-contain"
    />
  </div>
  <div class="flex flex-col max-xl:items-center max-sm:items-start">
    <h1 class="text-7xl max-xl:text-4xl">
      <span class="font-bold">TIL</span>
      <span>Today I Learned</span>
    </h1>
    <p
      class="mt-2 max-w-2xl text-4xl leading-normal max-xl:text-center max-sm:text-left"
    >
      Cultivate <span class="bg-yellow-200 p-0.5">Good Habits</span>, Learn
      <span class="bg-blue-200 p-0.5">Daily</span>,
      <span class="bg-green-200 p-0.5">Share</span>, and
      <span class="bg-pink-200 p-0.5">Grow Together</span>!
    </p>
  </div>
</section>
