<section class="flex flex-col gap-8 px-8 pb-20 max-md:px-4">
  <h2 class="text-4xl font-bold">Frequently asked questions</h2>
  <div class="flex flex-col gap-4">
    <div class="collapse bg-base-200">
      <input type="radio" name="my-accordion-1" />
      <div class="collapse-title text-xl font-medium">
        Why should I use TIL?
      </div>
      <div class="collapse-content">
        <p>
          <i class="text-sm font-normal"
            >"When it comes to learning, the benefits of regular learning cannot
            be overstated. By committing to just a small amount of learning each
            day, we can see incredible progress over time."</i
          >
          <br />
          <br />
          Today I Learned- is a great way to keep track of what you learn. It's
          also a great way to share your knowledge with others. You can use it
          as a personal journal or as a blog.
          <br />
          <br />
          <b>Compared to other blogging platforms</b>, TIL is very simple and
          lightweight. It's also free and open source. You can start writing
          immediately without having to worry about setting up a blog. Just sign
          up and start writing!
        </p>
      </div>
    </div>
    <div class="collapse bg-base-200">
      <input type="radio" name="my-accordion-1" />
      <div class="collapse-title text-xl font-medium">
        How do I get started?
      </div>
      <div class="collapse-content">
        <p>
          Just sign up and start writing! You can sign up using
          <b>LinkedIn, Google, or GitHub</b>. Immediately after signing up, you
          can write a post and start your new daily learning habit. TIL is
          designed social media in mind, so you can share your posts with others
          and get feedback from them.
        </p>
      </div>
    </div>
    <div class="collapse bg-base-200">
      <input type="radio" name="my-accordion-1" />
      <div class="collapse-title text-xl font-medium">
        Is my data safe with TIL?
      </div>
      <div class="collapse-content">
        <p>
          Yes, your data is safe with TIL. We use industry-standard encryption
          to protect your data. We also have a strict privacy policy that we
          follow. You can read more about it here:
          <a class="link" routerLink="/legal/privacy-policy">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="collapse bg-base-200">
      <input type="radio" name="my-accordion-1" />
      <div class="collapse-title text-xl font-medium">
        I found a bug, how do I report it?
      </div>
      <div class="collapse-content">
        <p>
          If you find a bug, please report it here:
          <a class="link" href="https://github.com/KasperiP/til-frontend"
            >GitHub Issues</a
          >. We will fix it as soon as possible. If you have any other questions
          or concerns, please contact us at:
          <strong>contact&#64;learnedtoday.app</strong>
        </p>
      </div>
    </div>
  </div>
</section>
