<ng-container
  *ngTemplateOutlet="
    posts;
    context: {
      posts: postsSig(),
      loadingPosts: loadingPostsSig(),
      loadingUserStats: loadingUserStatsSig(),
      loadingGlobalStats: loadingGlobalStatsSig(),
      userStats: userStatsSig(),
      globalStats: globalStatsSig()
    }
  "
/>

<ng-template
  #posts
  let-posts="posts"
  let-loadingPosts="loadingPosts"
  let-loadingUserStats="loadingUserStats"
  let-loadingGlobalStats="loadingGlobalStats"
  let-userStats="userStats"
  let-globalStats="globalStats"
>
  <section class="flex flex-col gap-4 px-8 py-20 max-md:px-4">
    <h2 class="text-4xl font-bold">Feed</h2>
    <div class="flex gap-4">
      <div class="flex w-full flex-col gap-4">
        @for (post of posts; track post.postId) {
          <article>
            @defer (on viewport) {
              <til-feed-item [post]="post" (loaded)="loaded($event)" />
            } @placeholder {
              <til-feed-item [post]="post" />
            }
          </article>
        }
        @if (loadingPosts) {
          <div class="mt-4 flex flex-col items-center justify-center gap-2">
            <span
              class="loading loading-spinner loading-lg bg-typography-primary"
            ></span>
            <p class="text-sm font-semibold">Loading</p>
          </div>
        }
      </div>
      <til-feed-menu
        class="max-lg:hidden"
        [loadingUserStats]="loadingUserStats"
        [loadingGlobalStats]="loadingGlobalStats"
        [userStats]="userStats"
        [globalStats]="globalStats"
      />
    </div>
  </section>
</ng-template>
