<section class="py-40 max-xl:overflow-hidden flex">
  <div class="bg-primary flex max-xl:flex-col-reverse py-6">
    <div class="flex flex-col gap-8 w-1/2 max-xl:w-full p-24 max-xl:p-6">
      <h2 class="text-4xl font-bold">What is TIL?</h2>
      <p>
        Today I Learned Python basics. It was a lot of fun. I learned how to
        print "Hello World" and how to use variables. I also learned how to
        create a function and how to use it. I am looking forward to learning
        more about Python.
      </p>
      <div>
        <button class="btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 -960 960 960"
            width="24"
            fill="currentColor"
          >
            <path d="M320-200v-560l440 280-440 280Z" />
          </svg>
          Watch a video
        </button>
      </div>
    </div>
    <div
      class="relative w-1/2 h-full max-xl:w-full flex items-center justify-center"
    >
      <img
        src="/assets/cards.svg"
        alt=""
        class="xl:hidden absolute max-sm:hidden -top-1/3"
      />
      <div class="pt-[48.25%] xl:hidden max-sm:hidden"></div>
      <div
        class="w-full absolute top-1/2 right-0 transform -translate-y-1/2 scale-150 max-xl:hidden"
      >
        <img src="/assets/cards.svg" alt="" />
      </div>
    </div>
    <div class="sm:hidden relative">
      <div class="pt-[56.25%]"></div>
      <div
        class="w-1/2 max-xl:w-full max-sm:absolute max-sm:left-20 max-sm:top-1/4 max-sm:scale-150 -translate-y-1/2"
      >
        <img src="/assets/cards.svg" alt="" />
      </div>
    </div>
  </div>
</section>
