<section class="flex">
  <div class="flex bg-primary py-6 max-xl:flex-col-reverse">
    <div class="flex w-1/2 flex-col gap-8 p-24 max-xl:w-full max-xl:p-6">
      <h2 class="text-4xl font-bold">What is TIL?</h2>
      <p>
        Today I Learned Python basics. It was a lot of fun. I learned how to
        print "Hello World" and how to use variables. I also learned how to
        create a function and how to use it. I am looking forward to learning
        more about Python.
      </p>
      <div>
        <button class="btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24"
            viewBox="0 -960 960 960"
            width="24"
            fill="currentColor"
          >
            <path d="M320-200v-560l440 280-440 280Z" />
          </svg>
          Watch a video
        </button>
      </div>
    </div>
    <div
      class="relative flex h-full w-1/2 items-center justify-center max-xl:w-full"
    >
      <img
        src="/assets/cards.svg"
        alt=""
        class="absolute -top-1/4 max-sm:hidden xl:hidden"
      />
      <div class="pt-[48.25%] max-sm:hidden xl:hidden"></div>
      <div
        class="absolute right-0 top-1/2 w-full -translate-y-1/2 scale-150 transform max-xl:hidden"
      >
        <img src="/assets/cards.svg" alt="" />
      </div>
    </div>
    <div class="relative sm:hidden">
      <div class="pt-[75.25%]"></div>
      <div
        class="w-1/2 -translate-y-[40%] max-xl:w-full max-sm:absolute max-sm:left-20 max-sm:top-1/3 max-sm:scale-150"
      >
        <img src="/assets/cards.svg" alt="" />
      </div>
    </div>
  </div>
</section>
