<til-auth-modal [show]="showAuthModalSig()" (closeModal)="toggleAuthModal()" />

<ng-container *ngTemplateOutlet="navbar; context: { user: user$ | async }" />

<ng-template #navbar let-user="user">
  <div class="fixed z-50 flex w-full justify-center bg-base-100">
    <nav class="navbar h-16 max-w-[1280px] border border-b-1 border-divider">
      <div class="flex-1">
        <a
          class="btn btn-ghost px-0 text-lg font-extrabold text-typography-primary hover:bg-transparent"
          routerLink="/"
        >
          <div class="inline-block rounded-lg bg-yellow-200 p-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="32"
              viewBox="0 -960 960 960"
              width="32"
              fill="currentColor"
            >
              <path
                d="M480-80q-33 0-66.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM320-200v-80h320v80H320Zm10-120q-69-41-109.5-110T180-580q0-125 87.5-212.5T480-880q125 0 212.5 87.5T780-580q0 81-40.5 150T630-320H330Zm24-80h252q45-32 69.5-79T700-580q0-92-64-156t-156-64q-92 0-156 64t-64 156q0 54 24.5 101t69.5 79Zm126 0Z"
              />
            </svg>
          </div>
          Today I Learned</a
        >
      </div>
      <div class="flex gap-6">
        <div class="dropdown dropdown-end md:hidden">
          <div class="btn btn-square btn-ghost" tabindex="0" role="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block h-6 w-6 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu dropdown-content z-[1] w-64 gap-1 rounded-box bg-base-100 p-2 shadow"
          >
            @if (user) {
              <a
                class="btn-ghost flex items-center gap-2 rounded-lg px-4 py-1"
                routerLink="/profile"
                (click)="closeMenu()"
              >
                <div class="avatar">
                  <div class="w-11 rounded-full">
                    <img [src]="user.image" [alt]="user.name + '\'s avatar'" />
                  </div>
                </div>
                <div>
                  <div class="font-semibold">Profile</div>
                  <div class="text-left text-xs text-opacity-50">
                    {{ user.name }}
                  </div>
                </div>
              </a>
              <li>
                <a class="font-semibold" routerLink="/" (click)="closeMenu()"
                  >Home</a
                >
              </li>
              <li>
                <a
                  class="font-semibold"
                  routerLink="/feed"
                  (click)="closeMenu()"
                  >Feed</a
                >
              </li>
              <li>
                <a
                  class="font-semibold"
                  routerLink="/writer"
                  (click)="closeMenu()"
                >
                  Write a post</a
                >
              </li>
              <div class="divider my-1"></div>
              <li>
                <button class="font-semibold" (click)="logout()">Logout</button>
              </li>
            } @else {
              <li>
                <a class="font-semibold" routerLink="/" (click)="closeMenu()"
                  >Home</a
                >
              </li>
              <li>
                <a
                  class="font-semibold"
                  routerLink="/feed"
                  (click)="closeMenu()"
                  >Feed</a
                >
              </li>
              <li>
                <button class="font-semibold" (click)="toggleAuthModal()">
                  Login or register
                </button>
              </li>
            }
          </ul>
        </div>
        <a class="hidden cursor-pointer font-semibold md:block" routerLink="/"
          >Home</a
        >
        <a
          class="hidden cursor-pointer font-semibold md:block"
          routerLink="/feed"
          >Feed</a
        >
        @if (user) {
          <a
            class="hidden cursor-pointer font-semibold md:block"
            routerLink="/writer"
            >Write a text</a
          >
          <div class="dropdown dropdown-end hidden md:block">
            <div class="btn btn-circle btn-ghost" tabindex="0" role="button">
              <div class="avatar">
                <div class="w-11 rounded-full">
                  <img [src]="user.image" [alt]="user.name + '\'s avatar'" />
                </div>
              </div>
            </div>
            <ul
              tabindex="0"
              class="menu dropdown-content z-[1] w-64 gap-1 rounded-box bg-base-100 p-2 shadow"
            >
              <a
                class="btn-ghost flex items-center gap-2 rounded-lg px-4 py-1"
                routerLink="/profile"
                (click)="closeMenu()"
              >
                <div class="avatar">
                  <div class="w-11 rounded-full">
                    <img [src]="user.image" [alt]="user.name + '\'s avatar'" />
                  </div>
                </div>
                <div>
                  <div class="font-semibold">Profile</div>
                  <div class="text-left text-xs text-opacity-50">
                    {{ user.name }}
                  </div>
                </div>
              </a>
              <li>
                <button class="font-semibold" (click)="logout()">Logout</button>
              </li>
            </ul>
          </div>
        } @else {
          <button
            class="hidden cursor-pointer font-semibold md:block"
            (click)="toggleAuthModal()"
          >
            Login
          </button>
          <button
            class="btn hidden bg-blue-200 font-bold text-sky-800 hover:bg-blue-100 md:block"
            (click)="toggleAuthModal()"
          >
            Sign up
          </button>
        }
      </div>
    </nav>
  </div>
</ng-template>
