<section class="px-8 py-20">
  <h2 class="text-4xl font-bold">Learned today</h2>
  <p class="py-4">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos molestias
    ullam quam maxime fuga repellendus, provident distinctio soluta nesciunt
    vero amet inventore cupiditate nulla. Libero, odio expedita. Velit, nostrum
    alias.
  </p>
  <label class="form-control mb-4 w-full max-w-xs">
    <div class="label">
      <span class="label-text">Title</span>
    </div>
    <input
      type="text"
      placeholder="Type here"
      class="input input-bordered w-full max-w-xs"
    />
  </label>
  <til-text-editor />
  <button class="btn mt-4 bg-blue-200 font-bold text-sky-800 hover:bg-blue-100">
    Submit
  </button>
</section>
